//TYPOGRAPHY
$typography__font-family: 'Nunito', sans-serif;
$typography__font-weight--bold: 700;
$typography__font-size--xxl: 5rem;
$typography__font-size--xl: 3rem;
$typography__font-size--l: 2.4rem;
$typography__font-size--m: 1.8rem;
$typography__font-size--r: 1.4rem;
$typography__font-size--s: 1rem;

//COLORS
$color__primary--darker: #0f1f2a;
$color__primary--dark: #192a32;
$color__primary: #192a32;
$color__primary--light:#1f3540;
$color__primary--lighter:#243d49;
$color__aqua: #32c0bb;
$color__aqua--dark: #2ca8a4;
$color__gray: #a9bec9;
$color__gray--dark: #97aab4;
$color__gold: #dda233;
$color__gold--dark: #f2b237;

//SIZES

$size__tile: 120px;
$size__tile--gap: 1.5rem;

$boxShadow__primary: 0px 8px 0px 0px $color__primary--darker;