@import '../../../scss/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color__primary;
  color: $color__gray;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.boardContainer {
  display: flex;
  flex-direction: column;
  gap: $size__tile--gap;
}