@import '../../../scss/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color__primary;
  color: $color__gray;
  gap: $size__tile--gap;
}