@import '../../../scss/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color__primary--light;
  min-width: $size__tile;
  min-height: $size__tile;
  border-radius: 8px;
  box-shadow: $boxShadow__primary;
  cursor: pointer;
  user-select: none;
  transition: 0.15s ease-in-out;
  &:hover{
    background-color: $color__primary--lighter;
  }
}