@import '../../../scss/variables';

@mixin buttonStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  color: $color__primary--darker;
  border: 0;
  outline: 0;
  padding: 0.6rem 12px;
  box-shadow: $boxShadow__primary;
  border-radius: 8px;
  font-size: $typography__font-size--s;
  font-weight: $typography__font-weight--bold;
  text-align: center;
  letter-spacing: 0.8px;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

@mixin buttonGray {
  background-color: $color__gray;
  &:hover{
    background-color: $color__gray--dark;
  }
}

.button {
  @include buttonStyle();
  @include buttonGray();
}

.button.disabled{
  cursor: not-allowed;
}

.aqua {
  background-color: $color__aqua;
  &:hover{
    background-color: $color__aqua--dark;
  }
}

.gold {
  background-color: $color__gold;
  &:hover{
    background-color: $color__gold--dark;
  }
}

.primaryLighter {
  background-color: $color__primary--lighter;
  color: $color__gray;
  &:hover{
    background-color: $color__primary;
  }
}
