@import '../../../scss/variables';

.cross {
  filter: invert(66%) sepia(24%) saturate(1277%) hue-rotate(129deg) brightness(98%) contrast(75%);
}

.nought {
  filter: invert(83%) sepia(41%) saturate(974%) hue-rotate(330deg) brightness(99%) contrast(92%);
}

.winningIcon {
  filter:invert(11%) sepia(13%) saturate(1745%) hue-rotate(154deg) brightness(100%) contrast(91%);
}